:root {
  --primary-color: #1FE7FF;
  --background-color: #272E37;
  --font-family: Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--background-color);
  font-family: var(--font-family);
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--background-color);
  box-sizing: border-box;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

footer {
  text-align: center;
  color: azure;
  box-sizing: border-box;
}
